@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
/* Primary */

--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);

/* Gradients */

--Lightslateblue: hsl(252, 100%, 67%);
--Lightroyalblue: hsl(241, 81%, 54%);

--Violetblue: hsla(256, 72%, 46%, 1);
--Persianblue: hsla(241, 72%, 46%, 0);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);

/* Font */

--Font: 'Hanken Grotesk'
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: var(--Font);
    font-size: 18px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    padding: 30px;
    width: 390px;
    height: 520px;
    color: var(--White);
}

.card h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card p {
    max-width: 250px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circle span {
    font-size: 4.5rem;
    font-weight: 700;
}

.circle p {
    color: var(--Lightlavender);
}

.summary button {
    background-color: var(--Darkgrayblue);
    padding: 15px 100px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.summary button > a {
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
}

.reaction {
    padding: 10px; 
    position: relative; 
    color: var(--Lightred);
}

.reaction::before {
    content: url(assets/images/icon-reaction.svg);
    position: absolute;
    left: -10px;
    transform: translateY(-50%);
    top: 50%;
}

.memory {
    padding: 10px; 
    position: relative; 
    color: var(--Orangeyyellow);
}

.memory::before {
    content: url(assets/images/icon-memory.svg);
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
}

.verbal {
    padding: 10px; 
    position: relative; 
    color: var(--Greenteal);
}

.verbal::before {
    content: url(assets/images/icon-verbal.svg);
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
}

.visual {
    padding: 10px; 
    position: relative; 
    color: var(--Violetblue);
}

.visual::before {
    content: url(assets/images/icon-visual.svg);
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
}

table {
    width: 100%;
    margin-bottom: 20px;
}




