@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
    --font: 'Inter';
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font);
    font-size: 14px;
    background-color: var(--OffBlack);
}

.card {
    text-align: center;
    background-color: var(--DarkGrey);
    border-radius: 10px;
    padding: 25px;
    width: 330px;
}

.card > img {
    border-radius: 50%;
    width: 32%;
}

.card > h1 {
    color: var(--White);
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 10px;
}

.card > h2 {
    color: var(--Green);
    font-weight: 600;
    font-size: 0.87rem;
    margin-bottom: 30px;
}

.card > p {
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}

.links {
    display: grid;
}

.links a {
    color: var(--White);
    font-weight: 600;
    background-color: var(--Grey);
    padding: 15px;
    margin: 7px 0;
    border-radius: 10px;
}

.links a:hover {
    background-color: var(--Green);
    color: var(--Grey);
    font-weight: 900;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 992px) {
    .card {
        width: 390px;
        padding: 40px;
    }
}