@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* Colors */

    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);

    /* Gradients */

    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);

    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: 390px;
    border-radius: 0px 0px 40px 40px;
    color: var(--Lightlavender);
    background-image: linear-gradient(var(--Lightslateblue), var(--Lightroyalblue));
}

.circle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--Violetblue), var(--Persianblue));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.card h1 {
    margin: 30px 0px;
    font-size: 1.3rem;
    font-weight: 500;
}

.card h2 {
    color: var(--White);
    margin-bottom: 10px;
}

.card p {
    max-width: 300px;
}

.circle>span {
    color: var(--White);
    font-size: 3.2em;
    font-weight: 700;
}

.results {
    margin: 25px 35px;
}

.results h1 {
    color: var(--Darkgrayblue);
    font-size: 20px;
}

table {
    border-collapse: collapse;
    color: var(--Lightlavender);
    width: 100%;
    height: 40vh;
}

td strong {
    color: var(--Darkgrayblue);
}

.reaction {
    color: var(--Lightred);
}

.reaction::before {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    content: url(assets/images/icon-reaction.svg);
}

.memory {
    color: var(--Orangeyyellow);
}

.memory::before {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    content: url(assets/images/icon-memory.svg);
}

.verbal {
    color: var(--Greenteal);
}

.verbal::before {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    content: url(assets/images/icon-verbal.svg);
}

.visual {
    color: var(--Violetblue);
}

.visual::before {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    content: url(assets/images/icon-visual.svg);
}

button {
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border: none;
    background-color: var(--Darkgrayblue);
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(var(--Lightslateblue), var(--Lightroyalblue));
}

@media screen and (min-width: 768px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 98vh;
    }

    .card {
        padding: 20px;
        justify-content: space-around;
        width: 370px;
        height: 500px;
        border-radius: 25px;
    }

    .card h1 {
        margin: 0px;
        font-size: 1.3em;
    }

    .card h2 {
        margin-bottom: -20px;
    }

    .card p {
        max-width: 250px;
    }

    .circle {
        margin: 0px;
        width: 200px;
        height: 200px;
    }
    
    .circle span {
        font-size: 4em;
    }
    
    .results {
        width: 300px;
    }
    
    .results h1 {
        font-size: 23px;
    }
    
    table {
        margin: 35px 0;
        border-collapse: collapse;
        color: var(--Lightlavender);
        width: 100%;
        height: 0;
    }

    
}

